<h2>List</h2>

<table style="width: 100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th style="width: 20%">Actions</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <td colspan="3"><%= link_to 'Add', new_article_path %></td>
    </tr>
  </tfoot>

  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><a href="<%= article.url %>"><%= article.url %></a></td>
      <td>
        <a href="/pdf/<%= article.pdf %>">Download</a> |
        <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
